@{
    ViewBag.Title = "Home Page";
}

<header class="masthead">
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">FoosBall App</h1>
            <hr>
            <p>Play foosball online!</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="@Url.Action("Index", "Foosball")">Play the Foosball!</a>
        </div>
    </div>
</header>