@{
    ViewBag.Title = "Home Page";
}
<header class="masthead">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="margin-top:50px;">
                <video id="video" width="1200" height="980" autoplay></video>
                <!--<canvas id="canvas" width="640" height="480"></canvas>-->
            </div>
        </div>
    </div>
</header>
<script>
    // Grab elements, create settings, etc.
    var video = document.getElementById('video');

    // Get access to the camera!
    if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        // Not adding `{ audio: true }` since we only want video now
        navigator.mediaDevices.getUserMedia({ video: true }).then(function (stream) {
            video.src = window.URL.createObjectURL(stream);
            video.play();
        });
    }

    // Elements for taking the snapshot
    var context = canvas.getContext('2d');
    var video = document.getElementById('video');

    // Trigger photo take
    document.getElementById("snap").addEventListener("click", function () {
        context.drawImage(video, 0, 0, 640, 480);
    });
</script>