@{
    ViewBag.Title = "Home Page";
}
<header class="masthead">
    <div class="container">
        <div class="row">
            <div align="center">
                <div style="margin-top: 100px; margin-left:200px; background-color:black; color:white;">
                       @{
                           var redName = ViewData["red"];
                           var blueName = ViewData["blue"];
                       }
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <strong align="center">Play by play of <strong style="color:blue;">@blueName</strong> vs <strong style="color:red;">@redName</strong></strong>
                                    <td><strong style="color:red;">Red team control</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong style="color:blue;">Blue team control</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Comment&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Date</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                            @{
                                int i = 0;
                                int j = 0;
                            }
                                @model List<string>
                                @foreach (var element in Model)
                                {
                                    <tr>
                                            <td>@Html.DisplayFor(m => element)</td>
                                    </tr>     
                                }
</tbody>

                        </table>
                    </div>
                    </div>
                </div>
            </div>
</header>
